/* Header Layout */

.content-header {
    background: var(--color-bg);
    border-bottom: 1px solid var(--color-border);
    padding: .80rem var(--spacing-xl);
    min-height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--shadow-sm);
}

.header-actions {
    display: flex;
    gap: var(--spacing-md);
}

.badge {
    position: absolute;
    top: -.25rem;
    right: -.25rem;
    background: var(--color-error);
    color: var(--color-white);
    font-size: .625rem;
    font-weight: 700;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: var(--radius-full);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color-white);
}

